<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">

    {% if user.lang == 'en' %}
        {% include title_en.html %}
    {% else %}
        {% include title_ru.html %}
    {% end %}

        <script src="/assets/js/ga.js"></script>

        <!-- Bootstrap core CSS -->
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/assets/css/custom.css" rel="stylesheet">
        <link href="/assets/css/color.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/carousel.css">
        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="/bootstrap/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="/bootstrap/js/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="/bootstrap/js/html5shiv.min.js"></script>
          <script src="/bootstrap/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-default navbar-pattern navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="/assets/img/logo.png" />
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    {% if user.lang == 'en' %}
                        {% include header_en.html %}
                    {% else %}
                        {% include header_ru.html %}
                    {% end %}
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        {% block container %}
        {% end %}

        {% if user.lang == 'en' %}
            {% include footer_en.html %}
        {% else %}
            {% include footer_ru.html %}
        {% end %}


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/jquery/jquery-2.1.4.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/bootstrap/js/ie10-viewport-bug-workaround.js"></script>

        <link rel="stylesheet" type="text/css" href="/assets/css/magnific-popup.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/intlTelInput.css" />
        <script src="/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="/assets/js/intlTelInput.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.nicescroll.min.js"></script>

        <script src="/assets/js/custom.js"></script>
    </body>
</html>