        <div class="container-full" id="internet">
            <div class="site-wrapper">
                <div class="vertical-center-row">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-8 col-xs-12 center-block" id="confirm-form">
                                <!-- <h1 class="cover-heading">Подтверждение авторизации</h1>
                                <p>Пожалуйста, введите код из СМС сообщения</p>
                                <form class="form-inline" action="enterweb.html" action="post">
                                    <div class="form-group">
                                        <label class="sr-only" for="auth-confirm-code">Код: </label>
                                        <input type="text" name="code" class="form-control" id="auth-confirm-code">
                                    </div>
                                    <input type="submit" class="btn btn-default" id="confirm" value="Войти в интернет">
                                </form> -->
                                <a id="enter-web" class="btn btn-default" href="/" onclick="return false;">Pass to Internet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>